html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #2B2B2B;
}

.container {
    max-width: 1025px;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
}

.header {
    min-height: 768px;
    background-image: url(../img/zal.svg);
    background-size: cover;
}

.header__title {
    display: flex;
    align-items: center;
    margin-bottom: 190px;
    justify-content: space-between;
    position: fixed;

}

.logo {
    width: 185px;
    height: 50px;
    margin-top: -10px;
}

.nav-link {
	text-decoration: none; /* убираем подчёркивание у ссылки */
    color: #FFF;
}

.nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    font-size: 28px;
}

.item {
    padding-left: 25px;
    margin-right: 13px;
    margin-top: -10px;
}


.first-title {
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    font-size: 48px;
    margin: 0;
    text-align: center;
    max-width: 960px;
    color: #FFC93D;
    padding-top: 90px;
    font-family: 'Montserrat';
}

.second-title {
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    font-size: 36px;
    margin: 0;
    text-align: center;
    max-width: 960px;
    color: #FFF;
    font-family: 'Montserrat';
}

.nav_it {
    list-style: none;
    display: flex;
}
.sec {
    list-style: none;
    display: block;
}

.second_item {
    padding-bottom: 206px;
}

.primer {
    padding-left: 100px;
}

